nav {
    border-bottom: 2px solid rgba(5,5,5, 0.1);
}
.nav-wrap {
    min-height: 75px;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-col {
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}

.nav-menu a{
    text-decoration: none;
    color: #555;
}

.nav-menu {
    color: #555;
}

.nav-menu span {
    margin: 0 10px;
}

.nav-search {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #999;
}
.nav-currentlang {
    cursor: pointer;
}

.nav-lang {
    text-align: center;
    background-color: #f55;
    
    position: relative;
    top:0px;
}

.nav-favorite__wrap {
    width: 270px;    
    position: absolute;
    top:10%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0 5px;
    margin-left: -10px;
    border: 2px solid rgba(255, 85, 85,0.5);
}

.nav-lang p {
    margin: 5px 0;
    color: #fafafa;
    cursor: pointer;
}

.nav-lang p:hover {
    
    background-color: #555;
}

.nav-favorite {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.nav-favorite:hover {
    background-color: rgba(255, 209, 209, 0.1);
}

.nav-login {
    background-color: #f55;
    padding: 9px 30px;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;

}
.nav-search__button {
    background-color: #fff;
    padding: 9px 10px;
    border: 1px solid #f55;
    font-size: 15px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: #f55;
}
.nav-search__button:hover {
    background-color: rgba(255, 85, 85, 0.1);
}

@media screen and (max-width: 500px) {
    .nav-wrap {
        width: 370px;
        display: flex;
        align-items: flex-start;
        padding: 10px 0;
        flex-direction: column;
    }
    .nav-menu {
        margin: 20px 0;
    }
    .nav-button {
        margin-top: 20px;
    }
    .nav-logo {
        display: block;
        margin: 0 auto;
    }
    .nav-login, .nav-favorite{
        margin-top: 20px;
    }
    .nav-favorite__wrap {
        top: 250px;
    }
    
}