footer {
    background-color: rgb(50, 40, 139);
    margin-top: 40px
}

.footer {
    background-color: rgb(50, 40, 139);
    color: #fff;
    width: 1100px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-col h4 {
    margin: 10px;
}
.footer-col li {
    list-style: none;
    padding: 4px 0;
}

.footer-col a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}
.footer-col ul {
    padding-left: 10px;
}

@media screen and (max-width: 500px) {
    .footer {
        width: 370px;
        display: flex;
        align-items: center;
        padding: 10px 0;
        flex-direction: column;
    }
}